<% content_for :body_content_title do %>
    <% if params[:query].present? %>
        <%= t('.search_results_for', what: params[:query]) %>
    <% else %>
        <%= ('Searched all vehicles... no results found, please try again!') %>
    <% end %>
<% end %>

<% content_for :body do %>
    <% if params[:query].present? %>
        <% if @results.present? %>
            <div id="vehicles" class="container-fluid">
              <% @results.each do |result| %>
                  <div class="vehicle"><%#= "image-align-#{cycle("left", "right")}" %>
                    <div class="row">
                      <%= image_fu result.photo1, "408x306", class: "vehicle-img img-responsive col-lg-6 col-md-6 col-sm-8 col-xs-6" %>

                      <p class="vehicle-h2"><%= result.year + ' ' + result.make + ' ' + result.model %></p>
                      <% if result.sold %>
                          <p class="vehicle-h2 vehicle-sold"><%= 'Price Sold: ' + result.price %></p>
                      <% else %>
                          <p class="vehicle-h2 vehicle-for-sale"><%= 'Sale Price: ' + result.price %></p>
                      <% end %>
                      <p class="vehicle-h2"><%= link_to "Additional Details", refinery.vehicles_vehicle_path(result), class: "btn-primary btn", id:"button-detail" %></p>
                      <p class="vehicle-h2"><%= if result.sold then image_tag("sold.gif", class: "img-sold") end %></p>

                      <%#= link_to result_mark(result.title).html_safe, result_url(result) %>
                    </div>
                  </div>
                <hr class="hr-vehicles">
              <% end %>
            </div>
            <%= will_paginate @results %>
        <% else %>
            <%= ('Searched all vehicles... no results found, please try again!') %>
        <% end %>
    <% else %>
        <%= ('Searched all vehicles... no results found, please try again!') %>
    <% end %>
<% end %>

<%= render "/refinery/content_page" %>