<nav class="navbar navbar-default" id="anavigation">
<div class="container-fluid header-top">
  <div class="navbar-header page-scroll">
    <h1 id='logo'class="navbar-brand">
      <%= link_to Refinery::Core.site_name, refinery.root_path %>
    </h1>
  </div>
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" aria-haspopup="true" aria-expanded="true" data-target="#bs-example-navbar-collapse-1">-->
  <!--<span class="sr-only">Toggle Navigation</span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
  <!--<div class="container">-->
  <ul class="nav navbar-nav navbar-right" id="navlist">
    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
  </ul>

  <!--</div>-->
<!--</div>-->
</div>
  <div id="search" class="navbar-form">
    <%= form_tag refinery.search_root_path, method: 'get' do %>
        <% label_tag 'query' %>
        <%= text_field_tag :query, {}, {type: "search", class: "form-control search-box", placeholder: ("Search Make, Model, Year..."), value: (params[:query] if params[:query])} %>
        <%= submit_tag ("Search"), class:"btn-primary btn search-btn" %>
    <% end %>
  </div>
</nav>