#body_content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.image-align-left {
  float: left;
  padding: 10px 10px 10px 10px;
}
.image-align-right {
  float: right;
  padding: 10px 10px 10px 10px;
}

.hr-vehicles {
  color: #F7111E;
  display: block;
  margin: 20px 0px;
  border: solid;
  border-width: 3px;
}

.img-container {
  position: relative;
  height: 780px;
  width: 960px;
  overflow: hidden;
  margin: auto;
  clear: both;
}

.img-container a {
  float: left;
  margin: 20px;
}

.big {
  position: absolute;
  top: 900px;
  left: 20px;

  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}

.vehicle-for-sale {
  color: green;
}

.featured {
  top: 160px;
  left: 20px;
  z-index: -3;
}

a:hover .thumb {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

#navlist li a:hover {
  color: #F7111E;
  background-color: #000000;
}

#logo a:hover {
  color: #F7111E;
  background-color: #000000;
  text-decoration: none;
}

a:hover .big {
  top: 160px;
}

@media screen and (max-width: 568px) {
  .vehicle-h2 {
    font-size:18px;
  }
  .vehicle-img {
    padding-bottom: 20px;
  }
  .img-sold {
    display: none;
  }
  .vehicle-sold {
    color: #F7111E;
    text-align: left;
  }
  #navlist li a {
    border-right: none;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px !important;
  }
  #vehicle-detail {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) and (min-width: 569px) {
  .vehicle-h2 {
    font-size:22px;
  }
  .vehicle-img {
    padding-bottom: 20px;
  }
  .img-sold {
    display: none;
  }
  .vehicle-sold {
    color: #F7111E;
    text-align: left;
  }
  #navlist li a {
    border-right: none;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px !important;
  }
  #vehicle-detail {
    font-size: 30px;
  }
}

@media screen and (max-width: 975px) and (min-width: 769px) {
  .vehicle-h2 {
    font-size:30px;
  }
  .img-sold {
    width: 225px;
    border: 0px;
    margin: 0px;
  }
  .vehicle-sold {
    color: #F7111E;
  }
  #navlist li a {
    border-right: none;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px !important;
  }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
  .vehicle-h2 {
    font-size:30px;
  }
  .img-sold {
    width: 300px;
    border: 0px;
    margin: 0px;
    padding-top: 33px;
    clear: right !important;
    display: block;
    float: right !important;
  }
  .vehicle-sold {
    color: #F7111E;
  }
  #navlist li a {
    border-right: none;
    text-decoration: none;
    display: block;
    padding: 10px 0px 0px 0px;
    font-size: 30px !important;
  }
  #logo {
    padding: 9.5px 0px 0px 25px;
  }
  #button-detail {
    float: right;
    margin-right: 40pt;
  }
}

@media screen and (max-width: 10000px) and (min-width: 1001px) {
  .vehicle-h2 {
    font-size:30px;
  }
  .img-sold {
    width: 300px;
    border: 0px;
    margin: 0px;
    padding-top: 33px;
    clear: right !important;
    display: block;
    float: right !important;
  }
  .vehicle-sold {
    color: #F7111E;
  }
  #navlist li a {
    border-right: none;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px !important;
  }
  #button-detail {
    float: right;
    margin-right: 400px;
  }
}

.vehicle-h2 {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
  text-align: right;
}

#vehicle-detail {
   padding-top: 5px;
 }

#navlist {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navlist li {
  display: inline;
  float: left;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#anavigation {
  background-color: #000000;
}

#logo a {
  color: #ffffff;
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 35px;
}

.nav li a {
  color: #ffffff;
}

#body_content_title {
  display: none;
}

#vehicle-detail {
  text-align: center;
}

.vehicle-specs {
  padding-left: 56px;
}

#vehicle-detailll {
  margin-left: 50pt;
}

#body > div > p > img {
  text-align: center !important;
}

#button-detail {
  width: 300px;
  font-size: 30px;
  padding: 0;
  margin: 50px 0 0 0;
}

#search {
  float: right;
  display: inline !important;
}

.search-box {
  display: inline !important;
  width: 30vw !important;
  height: 45px !important;
  margin-right: 1vw;
  font-size: 22px !important;
}

.search-btn {
  height: 45px !important;
  font-size: 22px !important;
}

//body {
//  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
//  font-size: 16px;
//  margin: 0;
//}
//
//h1, h2, h3 {
//  margin-top: 0;
//}
//
//a {
//  color: #3420D3;
//}
//
//#body_content_title {
//  display: none;
//}
//
//header {
//  //background-color: #000;
//  //background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
//  //background: -moz-linear-gradient(top,  #555, #222);
//  //color: #FFF;
//  font-weight: bold;
//  position: relative;
//  padding: 15px 100px;
//  #logo {
//    margin: 0;
//    font-size: 24px;
//  }
//  a {
//    color: #000;
//    text-decoration: none;
//  }
//  ul {
//    position: absolute;
//    right: 100px;
//    top: 18px;
//    list-style: none;
//    margin: 0;
//    li {
//      //float: left;
//      //padding: 2px 10px;
//      //border-right: solid 2px #6F6F6F;
//      &.last {
//        border-right: none;
//      }
//    }
//  }
//}
//
//#banner {
//  background-color: #852A2C;
//  padding: 20px 100px;
//  font-weight: normal;
//  font-style: italic;
//  color: #FFF;
//  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
//  background: -moz-linear-gradient(top,  #A03133, #722324);
//  -moz-box-shadow: 0 2px 8px 2px #000;
//  -webkit-box-shadow: 0 2px 6px 2px #000;
//  margin-bottom: 30px;
//  p {
//    margin: 0;
//    padding-top: 32px;
//    font-size: 34px;
//    &.font-size-small {
//      padding-top: 10px;
//      font-size: 20px;
//      color: #EAA29F;
//    }
//  }
//}
//
//#body_content {
//  position: relative;
//  #body {
//    margin: 25px 100px;
//  }
//  .image-align-left {
//    margin-right: 40px;
//  }
//  #side_body {
//    position: absolute;
//    top: 0;
//    right: 100px;
//    width: 250px;
//    p {
//      color: #777;
//      font-size: 14px;
//    }
//  }
//}
//
//footer {
//  font-size: 12px;
//  color: #999;
//  text-align: center;
//  clear: both;
//}
//
//#vehicle {
//  color: #777;
//  h1 {
//    color: #000;
//    font-size: 30px;
//    margin: 0;
//  }
//  h2 {
//    clear: left;
//  }
//}
//
//.vehicle {
//  .image-align-left {
//    margin-left: 20px;
//  }
//  padding-top: 10px;
//  clear: both;
//  color: #777;
//  font-size: 14px;
//  h2 {
//    color: #000;
//    font-size: 26px;
//    margin: 0;
//  }
//  p { margin: 10px 0; }
//  .more_info { font-size: 18px; }
//}





//body {
//  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
//  font-size: 16px;
//  margin: 0;
//}
//
//h1, h2, h3 {
//  margin-top: 0;
//}
//
//a {
//  color: #3420D3;
//}
//
//#body_content_title {
//  display: none;
//}
//
//header {
//  background-color: #000;
//  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
//  background: -moz-linear-gradient(top,  #555, #222);
//  color: #FFF;
//  font-weight: bold;
//  position: relative;
//  padding: 15px 100px;
//  #logo {
//    margin: 0;
//    font-size: 24px;
//  }
//  a {
//    color: #FFF;
//    text-decoration: none;
//  }
//  ul {
//    position: absolute;
//    right: 100px;
//    top: 18px;
//    list-style: none;
//    margin: 0;
//    li {
//      float: left;
//      padding: 2px 10px;
//      border-right: solid 2px #6F6F6F;
//      &.last {
//        border-right: none;
//      }
//    }
//  }
//}
//
//#banner {
//  background-color: #852A2C;
//  padding: 20px 100px;
//  font-weight: normal;
//  font-style: italic;
//  color: #FFF;
//  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
//  background: -moz-linear-gradient(top,  #A03133, #722324);
//  -moz-box-shadow: 0 2px 8px 2px #000;
//  -webkit-box-shadow: 0 2px 6px 2px #000;
//  margin-bottom: 30px;
//  p {
//    margin: 0;
//    padding-top: 32px;
//    font-size: 34px;
//    &.font-size-small {
//      padding-top: 10px;
//      font-size: 20px;
//      color: #EAA29F;
//    }
//  }
//}
//
//#body_content {
//  position: relative;
//  #body {
//    margin: 25px 100px;
//  }
//  .image-align-left {
//    margin-right: 40px;
//  }
//  #side_body {
//    position: absolute;
//    top: 0;
//    right: 100px;
//    width: 250px;
//    p {
//      color: #777;
//      font-size: 14px;
//    }
//  }
//}
//
//footer {
//  font-size: 12px;
//  color: #999;
//  text-align: center;
//  clear: both;
//}
