<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>" id="page-top" class="index">
    <%= site_bar -%>
    <!--<div id="page_container">-->
      <!--<header id="header">-->
        <%= render "/refinery/header" -%>
      <!--</header>-->
      <!--<section id="page">-->
        <%= yield %>
      <!--</section>-->
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    <!--</div>-->
    <%= render "/refinery/javascripts" %>
  </body>
<!-- jQuery -->
<!--<link href="js/jquery.js" rel="javascripts">-->

<!-- Bootstrap Core JavaScript -->
<!--<link href="js/bootstrap.min.js" rel="javascripts">-->

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<link href="js/classie.js" rel="javascripts">
<link href="js/cbpAnimatedHeader.js" rel="javascripts">

<!-- Contact Form JavaScript -->
<link href="js/jqBootstrapValidation.js" rel="javascripts">
<link href="js/contact_me.js" rel="javascripts">

<!-- Custom Theme JavaScript -->
<link href="js/freelancer.js" rel="javascripts">
</html>
