<!--<header class="business-header"><br />-->
  <!--<p class="text-align-center"><img src="/system/images/W1siZiIsIjIwMTYvMDIvMDIvMDUvMjQvNDYvMWE0ZjkyMDItZTVkMy00NTc3LWExMTgtNTc2YWM4YmI4N2NkL2Jpc2hvcF9sb2dvLnBuZyJdLFsicCIsInRodW1iIiwiNDUweDQ1MFx1MDAzZSJdXQ/bishop_logo.png?sha=46228708a05ff4a5" title="Bishop Logo" alt="Bishop Logo" data-rel="450x450" width="450" height="252" /></p>-->
  <!--<p class="text-align-center"></p>-->
<!--</header>-->


<!--<div class="container-fluid">-->

  <!--<hr />-->

  <!--<div class="row">-->
    <!--<div class="col-sm-8">-->
      <!--<h2>What We Do</h2>-->
      <!--<p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>-->
      <!--<p>-->
        <!--<a class="btn btn-primary btn-lg" href="/vehicles">Browse Vehicles »</a>-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<h2>Contact Us</h2>-->
      <!--<address>-->
        <!--<strong>Bishop Motors</strong>-->
        <!--<br />1785 San Felipe Rd, Ste F-->
        <!--<br />Hollister, CA 95023-->
        <!--<br />-->
      <!--</address>-->
      <!--<address>-->
        <!--<strong>Tap to Call: </strong>-->
        <!--<a href="tel:831-524-3625">(831) 524-3625</a>-->
        <!--<br />-->
        <!--<strong>Tap to Text: </strong>-->
        <!--<a href="sms:831-524-3625">(831) 524-3625</a>-->
        <!--<br />-->
        <!--<strong>Tap to E-mail: </strong>-->
        <!--<a href="mailto:#">bishopmotorsca@yahoo.com</a>-->
      <!--</address>-->
    <!--</div>-->
  <!--</div>-->


  <!--<hr />-->

  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<img class="img-circle img-responsive img-center" src="https://placehold.it/300x300" />-->
      <!--<h2>Marketing Box #1</h2>-->
      <!--<p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<img class="img-circle img-responsive img-center" src="https://placehold.it/300x300" />-->
      <!--<h2>Marketing Box #2</h2>-->
      <!--<p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<img class="img-circle img-responsive img-center" src="https://placehold.it/300x300" />-->
      <!--<h2>Marketing Box #3</h2>-->
      <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>-->
    <!--</div>-->
  <!--</div>-->


  <!--<hr />-->


  <!--<footer>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12">-->
        <!--<p>Copyright © Your Website 2014</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</footer>-->

<!--</div>-->